{
  "openapi": "3.1.0",
  "info": {
    "title": "InsightFlare API",
    "description": "Privacy-focused web analytics API. Authenticated endpoints require an API key passed as a Bearer token in the Authorization header. All API times are ISO 8601 strings and analytics ranges use [from, to) semantics.",
    "version": "1.0.0",
    "contact": {
      "name": "InsightFlare",
      "url": "https://github.com/ravelloh/InsightFlare"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/ravelloh/InsightFlare/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://insight.ravelloh.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "API discovery and capabilities"
    },
    {
      "name": "Token",
      "description": "Token introspection"
    },
    {
      "name": "Team",
      "description": "Current team resources"
    },
    {
      "name": "Sites",
      "description": "Site resources"
    },
    {
      "name": "Settings",
      "description": "Tracking, privacy, and sharing settings"
    },
    {
      "name": "Analytics",
      "description": "Analytics data primitives"
    },
    {
      "name": "Events",
      "description": "Event resources"
    },
    {
      "name": "Visitors",
      "description": "Visitor resources"
    },
    {
      "name": "Sessions",
      "description": "Session resources"
    },
    {
      "name": "Funnels",
      "description": "Funnel resources and analysis"
    },
    {
      "name": "Performance",
      "description": "Core Web Vitals performance data"
    },
    {
      "name": "Realtime",
      "description": "Realtime activity"
    },
    {
      "name": "Batch",
      "description": "Global batch requests"
    },
    {
      "name": "Ingestion",
      "description": "Client SDK event collection"
    },
    {
      "name": "Health",
      "description": "Health checks"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns service health status. No authentication required.",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collect": {
      "post": {
        "operationId": "collectEvent",
        "summary": "Collect tracking event",
        "description": "/collect is the unauthenticated client SDK ingestion endpoint. Successful receipt or silent drop returns 204.",
        "tags": ["Ingestion"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectPayload"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        }
      }
    },
    "/api/v1": {
      "get": {
        "operationId": "getApiRoot",
        "summary": "API root discovery",
        "description": "Returns stable machine-readable discovery links. No authentication required.",
        "tags": ["Discovery"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootDiscoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/token": {
      "get": {
        "operationId": "getToken",
        "summary": "Inspect current token",
        "description": "Returns non-secret metadata, scopes, team, and site access for the current bearer token.",
        "tags": ["Token"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/token/check": {
      "post": {
        "operationId": "checkToken",
        "summary": "Check token permissions",
        "description": "Checks whether the current token has requested scope and optional site permissions.",
        "tags": ["Token"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "summary": "Get runtime capabilities",
        "description": "Returns features and limits available to the current token.",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/team": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get current team",
        "description": "Returns the team associated with the current token.",
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/team/usage": {
      "get": {
        "operationId": "getTeamUsage",
        "summary": "Get team usage",
        "description": "Returns usage information for the current team.",
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/team/analytics/overview": {
      "get": {
        "operationId": "getTeamAnalyticsOverview",
        "summary": "Get team analytics overview",
        "description": "Aggregates analytics over sites accessible to the current token.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOverviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/team/analytics/timeseries": {
      "get": {
        "operationId": "getTeamAnalyticsTimeseries",
        "summary": "Get team analytics time series",
        "description": "Returns time-bucketed analytics over accessible sites.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "week", "month"],
              "default": "day"
            },
            "description": "Time bucket granularity."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsTimeseriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/team/analytics/sites": {
      "get": {
        "operationId": "getTeamAnalyticsSites",
        "summary": "Get team analytics by site",
        "description": "Breaks down team analytics by accessible site.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsBreakdownResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/team/analytics/breakdowns/{dimension}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/dimension"
        }
      ],
      "get": {
        "operationId": "getTeamAnalyticsBreakdown",
        "summary": "Get team analytics breakdown",
        "description": "Breaks down team analytics by a stable dimension.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsBreakdownResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "description": "Returns sites accessible to the current token.",
        "tags": ["Sites"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createSite",
        "summary": "Create site",
        "description": "Creates a site in the token's team. Supports Idempotency-Key.",
        "tags": ["Sites"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Client-generated idempotency key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getSite",
        "summary": "Get site",
        "description": "Returns a site by ID.",
        "tags": ["Sites"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSite",
        "summary": "Update site",
        "description": "Updates site metadata.",
        "tags": ["Sites"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "delete": {
        "operationId": "deleteSite",
        "summary": "Delete site",
        "description": "Deletes a site and associated analytics data.",
        "tags": ["Sites"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/tracking": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getTrackingSettings",
        "summary": "Get tracking settings",
        "description": "Returns tracking settings.",
        "tags": ["Settings"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingSettingsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTrackingSettings",
        "summary": "Update tracking settings",
        "description": "Updates tracking settings.",
        "tags": ["Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingSettingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/tracking/script": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getTrackingScript",
        "summary": "Get tracking script",
        "description": "Returns the script URL and HTML snippet.",
        "tags": ["Settings"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingScriptResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/privacy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getPrivacySettings",
        "summary": "Get privacy settings",
        "description": "Returns privacy settings.",
        "tags": ["Settings"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacySettingsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePrivacySettings",
        "summary": "Update privacy settings",
        "description": "Updates privacy settings.",
        "tags": ["Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacySettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacySettingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/sharing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getSharingSettings",
        "summary": "Get sharing settings",
        "description": "Returns sharing settings.",
        "tags": ["Settings"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharingSettingsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSharingSettings",
        "summary": "Update sharing settings",
        "description": "Updates sharing settings.",
        "tags": ["Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharingSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharingSettingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/schema": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getAnalyticsSchema",
        "summary": "Get analytics schema",
        "description": "Returns metrics, dimensions, filters, operators, intervals, and presets.",
        "tags": ["Analytics"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSchemaResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/overview": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getAnalyticsOverview",
        "summary": "Get analytics overview",
        "description": "Returns aggregate analytics metrics.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOverviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/timeseries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getAnalyticsTimeseries",
        "summary": "Get analytics time series",
        "description": "Returns time-bucketed analytics metrics.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "week", "month"],
              "default": "day"
            },
            "description": "Time bucket granularity."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsTimeseriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/breakdowns/{dimension}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/dimension"
        }
      ],
      "get": {
        "operationId": "getAnalyticsBreakdown",
        "summary": "Get analytics breakdown",
        "description": "Returns a metric breakdown by dimension.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "metrics",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "views",
                  "sessions",
                  "visitors",
                  "bounces",
                  "bounceRate",
                  "avgDurationMs",
                  "viewsPerSession",
                  "events"
                ]
              }
            },
            "description": "Comma-separated metrics to include."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            },
            "description": "Maximum rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsBreakdownResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/cross-breakdowns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getAnalyticsCrossBreakdown",
        "summary": "Get analytics cross breakdown",
        "description": "Returns a two-dimensional analytics breakdown.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "primary",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Primary dimension."
          },
          {
            "name": "secondary",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Secondary dimension."
          },
          {
            "name": "metric",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "description": "Metric to aggregate."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/compare": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "compareAnalytics",
        "summary": "Compare analytics",
        "description": "Compares analytics against another period.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "compare",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "previous_period"
            },
            "description": "Comparison mode."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/explore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "post": {
        "operationId": "exploreAnalytics",
        "summary": "Explore analytics",
        "description": "Runs an advanced multidimensional query with complex filters.",
        "tags": ["Analytics"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsExploreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/analytics/retention/cohorts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getRetentionCohorts",
        "summary": "Get retention cohorts",
        "description": "Returns visitor retention cohorts.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "week", "month"],
              "default": "day"
            },
            "description": "Time bucket granularity."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/event-types": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "listEventTypes",
        "summary": "List event types",
        "description": "Lists custom event types.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsBreakdownResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/event-types/{eventName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/eventName"
        }
      ],
      "get": {
        "operationId": "getEventType",
        "summary": "Get event type",
        "description": "Returns details for one event type.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "week", "month"],
              "default": "day"
            },
            "description": "Time bucket granularity."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Lists event records with cursor pagination.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Sort field. Prefix with '-' for descending order."
          },
          {
            "name": "eventName",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Event name filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/events/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getEventsSummary",
        "summary": "Get events summary",
        "description": "Returns event summary metrics.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/events/timeseries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getEventsTimeseries",
        "summary": "Get events time series",
        "description": "Returns event counts over time.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "week", "month"],
              "default": "day"
            },
            "description": "Time bucket granularity."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "eventName",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Event name filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsTimeseriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "post": {
        "operationId": "searchEvents",
        "summary": "Search events",
        "description": "Searches events using complex payload filters.",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObjectResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/events/{eventId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/eventId"
        }
      ],
      "get": {
        "operationId": "getEvent",
        "summary": "Get event",
        "description": "Returns one event record.",
        "tags": ["Events"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/event-fields/values": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getEventFieldValues",
        "summary": "Get event field values",
        "description": "Returns observed values for an event field.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "eventName",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Event name."
          },
          {
            "name": "fieldPath",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 240
            },
            "description": "Field path."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "description": "Search text."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsBreakdownResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/visitors": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "listVisitors",
        "summary": "List visitors",
        "description": "Lists visitors with cursor pagination.",
        "tags": ["Visitors"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Sort field. Prefix with '-' for descending order."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "description": "Search text."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/visitors/{visitorId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/visitorId"
        }
      ],
      "get": {
        "operationId": "getVisitor",
        "summary": "Get visitor",
        "description": "Returns one visitor.",
        "tags": ["Visitors"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/visitors/{visitorId}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/visitorId"
        }
      ],
      "get": {
        "operationId": "listVisitorSessions",
        "summary": "List visitor sessions",
        "description": "Lists sessions for a visitor.",
        "tags": ["Visitors"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/visitors/{visitorId}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/visitorId"
        }
      ],
      "get": {
        "operationId": "listVisitorEvents",
        "summary": "List visitor events",
        "description": "Lists events for a visitor.",
        "tags": ["Visitors"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions",
        "description": "Lists sessions with cursor pagination.",
        "tags": ["Sessions"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/FilterObject"
            },
            "description": "Simple equality filters as filter[field]=value."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "description": "Sort field. Prefix with '-' for descending order."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "description": "Search text."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/sessions/{sessionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/sessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "summary": "Get session",
        "description": "Returns one session.",
        "tags": ["Sessions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/sessions/{sessionId}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/sessionId"
        }
      ],
      "get": {
        "operationId": "listSessionEvents",
        "summary": "List session events",
        "description": "Lists events for a session.",
        "tags": ["Sessions"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/funnels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "listFunnels",
        "summary": "List funnels",
        "description": "Lists saved funnels.",
        "tags": ["Funnels"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of results."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque pagination cursor from the previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createFunnel",
        "summary": "Create funnel",
        "description": "Creates a saved funnel.",
        "tags": ["Funnels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObjectResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/funnels/analysis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "post": {
        "operationId": "analyzeFunnel",
        "summary": "Analyze funnel",
        "description": "Runs ad-hoc funnel analysis.",
        "tags": ["Funnels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObjectResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/funnels/{funnelId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/funnelId"
        }
      ],
      "get": {
        "operationId": "getFunnel",
        "summary": "Get funnel",
        "description": "Returns one saved funnel.",
        "tags": ["Funnels"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateFunnel",
        "summary": "Update funnel",
        "description": "Updates one saved funnel.",
        "tags": ["Funnels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObjectResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteFunnel",
        "summary": "Delete funnel",
        "description": "Deletes one saved funnel.",
        "tags": ["Funnels"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/funnels/{funnelId}/analysis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        },
        {
          "$ref": "#/components/parameters/funnelId"
        }
      ],
      "get": {
        "operationId": "getFunnelAnalysis",
        "summary": "Get funnel analysis",
        "description": "Runs analysis for a saved funnel.",
        "tags": ["Funnels"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
            "description": "Named time range preset. Mutually exclusive with from and to."
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "UTC"
            },
            "description": "IANA time zone used to resolve presets."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/sites/{siteId}/performance/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "operationId": "getPerformanceSummary",
        "summary": "Get performance summary",
        "description": "Returns Core Web Vitals summary in milliseconds except CLS.",
        "tags": ["Performance"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive ISO 8601 start time."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive ISO 8601 end time."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Preset"
            },
[...]
