openapi: 3.1.0
info:
  title: InsightFlare API
  description:
    Privacy-focused web analytics API. Authenticated endpoints require
    an API key passed as a Bearer token in the Authorization header. All API
    times are ISO 8601 strings and analytics ranges use [from, to) semantics. If
    from, to, and preset are omitted, analytics endpoints default to the last 7
    days ending at request time. The default timeZone is UTC.
  version: 1.0.0
  contact:
    name: InsightFlare
    url: https://github.com/ravelloh/InsightFlare
  license:
    name: MIT
    url: https://github.com/ravelloh/InsightFlare/blob/main/LICENSE
servers:
  - url: https://insight.ravelloh.com
    description: Production
security:
  - BearerAuth: []
tags:
  - name: Discovery
    description: API discovery and capabilities
  - name: Token
    description: Token introspection
  - name: Team
    description: Current team resources
  - name: Sites
    description: Site resources
  - name: Settings
    description: Tracking, privacy, and sharing settings
  - name: Analytics
    description: Analytics data primitives
  - name: Events
    description: Event resources
  - name: Visitors
    description: Visitor resources
  - name: Sessions
    description: Session resources
  - name: Funnels
    description: Funnel resources and analysis
  - name: Performance
    description: Core Web Vitals performance data
  - name: Realtime
    description: Realtime activity
  - name: Batch
    description: Global batch requests
  - name: Ingestion
    description: Client SDK event collection
  - name: Health
    description: Health checks
paths:
  /healthz:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns service health status. No authentication required.
      tags:
        - Health
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                default:
                  summary: getHealth
                  value:
                    status: healthy
                    timestamp: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
  /collect:
    post:
      operationId: collectEvent
      summary: Collect tracking event
      description:
        /collect is the unauthenticated client SDK ingestion endpoint.
        Successful receipt or silent drop returns 204.
      tags:
        - Ingestion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectPayload"
            examples:
              pageview:
                summary: Pageview payload
                value:
                  siteId: 550e8400-e29b-41d4-a716-446655440000
                  type: pageview
                  timestamp: 2026-06-26T12:00:00Z
                  anonymousId: anon_abc123
                  sessionId: sess_abc123
                  page:
                    url: https://example.com/posts/hello
                    path: /posts/hello
                    title: Hello
                    referrer: https://google.com
                    hostname: example.com
                  client:
                    language: zh-CN
                    screen:
                      width: 1920
                      height: 1080
                    viewport:
                      width: 1280
                      height: 720
              event:
                summary: Custom event payload
                value:
                  siteId: 550e8400-e29b-41d4-a716-446655440000
                  type: event
                  timestamp: 2026-06-26T12:01:00Z
                  anonymousId: anon_abc123
                  sessionId: sess_abc123
                  page:
                    url: https://example.com/signup
                    path: /signup
                    title: Signup
                  event:
                    name: signup
                    data:
                      plan: pro
                      source: pricing_page
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequest"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
  /api/v1:
    get:
      operationId: getApiRoot
      summary: API root discovery
      description:
        Returns stable machine-readable discovery links. No authentication
        required.
      tags:
        - Discovery
      security: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootDiscoveryResponse"
              examples:
                default:
                  summary: getApiRoot
                  value:
                    data:
                      version: 1.0.0
                      service: InsightFlare Analytics API
                      links:
                        self: /api/v1
                        openapi: /.well-known/openapi.json
                        skills: /.well-known/skills.json
                        token: /api/v1/token
                        capabilities: /api/v1/capabilities
                        sites: /api/v1/sites
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/token:
    get:
      operationId: getToken
      summary: Inspect current token
      description:
        Returns non-secret metadata, scopes, team, and site access for the
        current bearer token.
      tags:
        - Token
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
              examples:
                default:
                  summary: getToken
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440002
                      name: Production API key
                      status: active
                      createdAt: 2026-01-01T00:00:00Z
                      expiresAt: null
                      lastUsedAt: 2026-06-26T12:00:00Z
                      team:
                        id: 550e8400-e29b-41d4-a716-446655440001
                        name: Example Team
                      scopes:
                        - site:read
                        - site_config:read
                        - analytics:read
                      siteAccess:
                        mode: all
                        siteIds: []
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/token/check:
    post:
      operationId: checkToken
      summary: Check token permissions
      description:
        Checks whether the current token has requested scope and optional
        site permissions.
      tags:
        - Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCheckRequest"
            examples:
              default:
                summary: Check analytics permission
                value:
                  checks:
                    - scope: analytics:read
                      siteId: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCheckResponse"
              examples:
                default:
                  summary: checkToken
                  value:
                    data:
                      checks:
                        - scope: analytics:read
                          siteId: 550e8400-e29b-41d4-a716-446655440000
                          allowed: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      summary: Get runtime capabilities
      description: Returns features and limits available to the current token.
      tags:
        - Discovery
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesResponse"
              examples:
                default:
                  summary: getCapabilities
                  value:
                    data:
                      apiVersion: 1.0.0
                      features:
                        sites: true
                        tracking: true
                        privacy: true
                        sharing: true
                        analytics: true
                        events: true
                        visitors: true
                        sessions: true
                        funnels: true
                        performance: true
                        realtime: true
                        exports: false
                        batch: true
                      limits:
                        batchMaxRequests: 20
                        defaultTimeRangeDays: 7
                        maxTimeRangeDays: 365
                        defaultPageLimit: 100
                        maxPageLimit: 1000
                      links:
                        token: /api/v1/token
                        sites: /api/v1/sites
                        batch: /api/v1/batch
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team:
    get:
      operationId: getTeam
      summary: Get current team
      description: Returns the team associated with the current token.
      tags:
        - Team
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponse"
              examples:
                default:
                  summary: getTeam
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440001
                      name: Example Team
                      createdAt: 2026-01-01T00:00:00Z
                      links:
                        usage: /api/v1/team/usage
                        sites: /api/v1/sites
                        analyticsOverview: /api/v1/team/analytics/overview
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team/usage:
    get:
      operationId: getTeamUsage
      summary: Get team usage
      description: Returns usage information for the current team.
      tags:
        - Team
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamUsageResponse"
              examples:
                default:
                  summary: getTeamUsage
                  value:
                    data:
                      sites: 3
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team/analytics/overview:
    get:
      operationId: getTeamAnalyticsOverview
      summary: Get team analytics overview
      description: Aggregates analytics over sites accessible to the current token.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsOverviewResponse"
              examples:
                default:
                  summary: getTeamAnalyticsOverview
                  value:
                    data: &a4
                      views: 12500
                      sessions: 8300
                      visitors: 6100
                      bounces: 3200
                      bounceRate: 0.386
                      avgDurationMs: 506000
                      viewsPerSession: 1.51
                      approximateVisitors: false
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: &a1
                        from: 2026-05-27T00:00:00Z
                        to: 2026-06-26T00:00:00Z
                        timeZone: Asia/Shanghai
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/timeseries:
    get:
      operationId: getTeamAnalyticsTimeseries
      summary: Get team analytics time series
      description: Returns time-bucketed analytics over accessible sites.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
              examples:
                default:
                  summary: getTeamAnalyticsTimeseries
                  value:
                    data:
                      - start: 2026-06-26T00:00:00Z
                        end: 2026-06-27T00:00:00Z
                        views: 420
                        sessions: 260
                        visitors: 210
                        events: 38
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
                      interval: day
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/sites:
    get:
      operationId: getTeamAnalyticsSites
      summary: Get team analytics by site
      description: Breaks down team analytics by accessible site.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
              examples:
                default:
                  summary: getTeamAnalyticsSites
                  value:
                    data:
                      - key: __direct__
                        label: Direct
                        views: 5200
                        sessions: 3200
                      - key: __unknown__
                        label: Unknown
                        views: 120
                        sessions: 88
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/breakdowns/{dimension}:
    parameters:
      - &a5
        $ref: "#/components/parameters/dimension"
    get:
      operationId: getTeamAnalyticsBreakdown
      summary: Get team analytics breakdown
      description: Breaks down team analytics by a stable dimension.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
              examples:
                default:
                  summary: getTeamAnalyticsBreakdown
                  value:
                    data:
                      - key: __direct__
                        label: Direct
                        views: 5200
                        sessions: 3200
                      - key: __unknown__
                        label: Unknown
                        views: 120
                        sessions: 88
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/sites:
    get:
      operationId: listSites
      summary: List sites
      description: Returns sites accessible to the current token.
      tags:
        - Sites
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteListResponse"
              examples:
                default:
                  summary: listSites
                  value:
                    data:
                      - &a2
                        id: 550e8400-e29b-41d4-a716-446655440000
                        name: Example Blog
                        domain: example.com
                        createdAt: 2026-01-01T00:00:00Z
                        updatedAt: 2026-06-26T12:00:00Z
                        sharing:
                          publicEnabled: true
                          publicSlug: example-blog
                        links:
                          self: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000
                          tracking: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/tracking
                          privacy: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/privacy
                          sharing: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/sharing
                          analyticsSchema: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/analytics/schema
                          analyticsOverview: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/analytics/overview
                          events: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/events
                          visitors: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/visitors
                          sessions: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/sessions
                          realtimeSnapshot: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/realtime/snapshot
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createSite
      summary: Create site
      description: Creates a site in the token's team. Supports Idempotency-Key.
      tags:
        - Sites
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 200
          description: Client-generated idempotency key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteCreateInput"
            examples:
              default:
                summary: Create a site
                value:
                  name: Example Blog
                  domain: example.com
                  sharing:
                    publicEnabled: true
                    publicSlug: example-blog
      responses:
        "201":
          description: Created site
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
              examples:
                default:
                  summary: createSite
                  value:
                    data: *a2
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/sites/{siteId}:
    parameters:
      - &a3
        $ref: "#/components/parameters/siteId"
    get:
      operationId: getSite
      summary: Get site
      description: Returns a site by ID.
      tags:
        - Sites
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
              examples:
                default:
                  summary: getSite
                  value:
                    data: *a2
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateSite
      summary: Update site
      description: Updates site metadata.
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteUpdateInput"
            examples:
              default:
                summary: Update a site
                value:
                  name: Example Blog
                  sharing:
                    publicEnabled: false
                    publicSlug: null
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
              examples:
                default:
                  summary: updateSite
                  value:
                    data: *a2
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteSite
      summary: Delete site
      description: Deletes a site and associated analytics data.
      tags:
        - Sites
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/tracking:
    parameters:
      - *a3
    get:
      operationId: getTrackingSettings
      summary: Get tracking settings
      description: Returns tracking settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettingsResponse"
              examples:
                default:
                  summary: getTrackingSettings
                  value:
                    data:
                      trackPageviews: true
                      trackQuery: false
                      trackHash: true
                      trackCustomEvents: true
                      trackEngagement: true
                      trackWebVitals: true
                      autoTrackOutboundLinks: true
                      trackingStrength: smart
                      allowedDomains:
                        - example.com
                      excludedPaths:
                        - /admin
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTrackingSettings
      summary: Update tracking settings
      description: Updates tracking settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackingSettings"
            examples:
              default:
                summary: Update tracking settings
                value:
                  trackQuery: false
                  trackHash: true
                  trackWebVitals: true
                  trackingStrength: smart
                  allowedDomains:
                    - example.com
                  excludedPaths:
                    - /admin
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettingsResponse"
              examples:
                default:
                  summary: updateTrackingSettings
                  value:
                    data:
                      trackPageviews: true
                      trackQuery: false
                      trackHash: true
                      trackCustomEvents: true
                      trackEngagement: true
                      trackWebVitals: true
                      autoTrackOutboundLinks: true
                      trackingStrength: smart
                      allowedDomains:
                        - example.com
                      excludedPaths:
                        - /admin
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/tracking/script:
    parameters:
      - *a3
    get:
      operationId: getTrackingScript
      summary: Get tracking script
      description: Returns the script URL and HTML snippet.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingScriptResponse"
              examples:
                default:
                  summary: getTrackingScript
                  value:
                    data:
                      siteId: 550e8400-e29b-41d4-a716-446655440000
                      src: https://insight.ravelloh.com/script.js?siteId=550e8400-e29b-41d4-a716-446655440000
                      snippet: <script async
                        src="https://insight.ravelloh.com/script.js?siteId=550e8400-e29b-41d4-a716-446655440000"></script>
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/privacy:
    parameters:
      - *a3
    get:
      operationId: getPrivacySettings
      summary: Get privacy settings
      description: Returns privacy settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacySettingsResponse"
              examples:
                default:
                  summary: getPrivacySettings
                  value:
                    data:
                      respectDoNotTrack: true
                      anonymizeIp: true
                      euMode: false
                      visitorTokenMode: daily
                      dataRetentionDays: 180
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updatePrivacySettings
      summary: Update privacy settings
      description: Updates privacy settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivacySettings"
            examples:
              default:
                summary: Update privacy settings
                value:
                  respectDoNotTrack: true
                  euMode: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacySettingsResponse"
              examples:
                default:
                  summary: updatePrivacySettings
                  value:
                    data:
                      respectDoNotTrack: true
                      anonymizeIp: true
                      euMode: false
                      visitorTokenMode: daily
                      dataRetentionDays: 180
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sharing:
    parameters:
      - *a3
    get:
      operationId: getSharingSettings
      summary: Get sharing settings
      description: Returns sharing settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettingsResponse"
              examples:
                default:
                  summary: getSharingSettings
                  value:
                    data:
                      publicEnabled: true
                      publicSlug: example-blog
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateSharingSettings
      summary: Update sharing settings
      description: Updates sharing settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SharingSettings"
            examples:
              default:
                summary: Update sharing settings
                value:
                  publicEnabled: true
                  publicSlug: example-blog
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettingsResponse"
              examples:
                default:
                  summary: updateSharingSettings
                  value:
                    data:
                      publicEnabled: true
                      publicSlug: example-blog
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/sites/{siteId}/analytics/schema:
    parameters:
      - *a3
    get:
      operationId: getAnalyticsSchema
      summary: Get analytics schema
      description: Returns metrics, dimensions, filters, operators, intervals, and presets.
      tags:
        - Analytics
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSchemaResponse"
              examples:
                default:
                  summary: getAnalyticsSchema
                  value:
                    data:
                      metrics:
                        - key: views
                          label: Views
                          type: integer
                          description: Total page views.
                        - key: bounceRate
                          label: Bounce rate
                          type: rate
                          description: Single-page session rate as a 0-1 ratio.
                      dimensions:
                        - key: page.path
                          label: Page path
                          type: string
                        - key: geo.country
                          label: Country
                          type: string
                      filters:
                        - page.path
                        - geo.country
                      operators:
                        - eq
                        - in
                        - startsWith
                      intervals:
                        - hour
                        - day
                        - week
                      presets:
                        - last_7_days
                        - last_30_days
                      timeRange:
                        earliestAvailableAt: 2026-01-01T00:00:00Z
                        latestAvailableAt: 2026-06-26T12:00:00Z
                      links:
                        overview: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/analytics/overview
                        timeseries: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/analytics/timeseries
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/overview:
    parameters:
      - *a3
    get:
      operationId: getAnalyticsOverview
      summary: Get analytics overview
      description: Returns aggregate analytics metrics.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsOverviewResponse"
              examples:
                default:
                  summary: getAnalyticsOverview
                  value:
                    data: *a4
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/timeseries:
    parameters:
      - *a3
    get:
      operationId: getAnalyticsTimeseries
      summary: Get analytics time series
      description: Returns time-bucketed analytics metrics.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
              examples:
                default:
                  summary: getAnalyticsTimeseries
                  value:
                    data:
                      - start: 2026-06-26T00:00:00Z
                        end: 2026-06-27T00:00:00Z
                        views: 420
                        sessions: 260
                        visitors: 210
                        events: 38
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
                      interval: day
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/breakdowns/{dimension}:
    parameters:
      - *a3
      - *a5
    get:
      operationId: getAnalyticsBreakdown
      summary: Get analytics breakdown
      description: Returns a metric breakdown by dimension.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
              examples:
                default:
                  summary: getAnalyticsBreakdown
                  value:
                    data:
                      - key: __direct__
                        label: Direct
                        views: 5200
                        sessions: 3200
                      - key: __unknown__
                        label: Unknown
                        views: 120
                        sessions: 88
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/cross-breakdowns:
    parameters:
      - *a3
    get:
      operationId: getAnalyticsCrossBreakdown
      summary: Get analytics cross breakdown
      description: Returns a two-dimensional analytics breakdown.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: primary
          in: query
          schema:
            type: string
            maxLength: 120
          description: Primary dimension.
        - name: secondary
          in: query
          schema:
            type: string
            maxLength: 120
          description: Secondary dimension.
        - name: metric
          in: query
          schema:
            type: string
            maxLength: 80
          description: Metric to aggregate.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsCrossBreakdownResponse"
              examples:
                default:
                  summary: getAnalyticsCrossBreakdown
                  value:
                    data:
                      - primaryKey: US
                        primaryLabel: United States
                        values:
                          - secondaryKey: Chrome
                            secondaryLabel: Chrome
                            value: 4200
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
                      primary: geo.country
                      secondary: client.browser
                      metric: views
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/compare:
    parameters:
      - *a3
    get:
      operationId: compareAnalytics
      summary: Compare analytics
      description: Compares analytics against another period.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: compare
          in: query
          schema:
            type: string
            maxLength: 80
            default: previous_period
          description: Comparison mode.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsCompareResponse"
              examples:
                default:
                  summary: compareAnalytics
                  value:
                    data:
                      current: *a4
                      previous:
                        views: 11000
                        sessions: 7600
                        visitors: 6100
                        bounces: 3200
                        bounceRate: 0.386
                        avgDurationMs: 506000
                        viewsPerSession: 1.51
                        approximateVisitors: false
                      change:
                        views: 0.136
                        sessions: 0.092
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/explore:
    parameters:
      - *a3
    post:
      operationId: exploreAnalytics
      summary: Explore analytics
      description: Runs an advanced multidimensional query with complex filters.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsExploreRequest"
            examples:
              default:
                summary: Explore pages by country
                value:
                  timeRange: *a1
                  metrics:
                    - views
                  dimensions:
                    - page.path
                    - geo.country
                  filters:
                    - field: page.path
                      op: startsWith
                      value: /pricing
                    - field: geo.country
                      op: in
                      value:
                        - US
                        - CA
                  limit: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsExploreResponse"
              examples:
                default:
                  summary: exploreAnalytics
                  value:
                    data:
                      rows:
                        - page.path: /pricing
                          geo.country: US
                          views: 850
                      metrics:
                        - views
                      dimensions:
                        - page.path
                        - geo.country
                      filters:
                        - field: page.path
                          op: startsWith
                          value: /pricing
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/retention/cohorts:
    parameters:
      - *a3
    get:
      operationId: getRetentionCohorts
      summary: Get retention cohorts
      description: Returns visitor retention cohorts.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionCohortsResponse"
              examples:
                default:
                  summary: getRetentionCohorts
                  value:
                    data:
                      interval: day
                      cohorts:
                        - start: 2026-06-01T00:00:00Z
                          size: 1000
                          periods:
                            - index: 0
                              visitors: 1000
                              rate: 1
                            - index: 1
                              visitors: 340
                              rate: 0.34
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-types:
    parameters:
      - *a3
    get:
      operationId: listEventTypes
      summary: List event types
      description: Lists custom event types.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
              examples:
                default:
                  summary: listEventTypes
                  value:
                    data:
                      - key: __direct__
                        label: Direct
                        views: 5200
                        sessions: 3200
                      - key: __unknown__
                        label: Unknown
                        views: 120
                        sessions: 88
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-types/{eventName}:
    parameters:
      - *a3
      - $ref: "#/components/parameters/eventName"
    get:
      operationId: getEventType
      summary: Get event type
      description: Returns details for one event type.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsSummaryResponse"
              examples:
                default:
                  summary: getEventType
                  value:
                    data:
                      events: 450
                      eventTypes: 8
                      sessions: 210
                      visitors: 190
                      avgEventsPerSession: 2.14
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events:
    parameters:
      - *a3
    get:
      operationId: listEvents
      summary: List events
      description: Lists event records with cursor pagination.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
        - name: sort
          in: query
          schema:
            type: string
            maxLength: 120
          description: Sort field. Prefix with '-' for descending order.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name filter.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
              examples:
                default:
                  summary: listEvents
                  value:
                    data:
                      - &a6
                        id: 6f5d9b2c-b1d5-4d75-89aa-0b71ec1f9c00
                        siteId: 550e8400-e29b-41d4-a716-446655440000
                        eventName: signup
                        occurredAt: 2026-06-26T12:00:00Z
                        sessionId: de0b8cf1-7fc6-40bd-8127-4c8e9f1c0001
                        visitorId: 0a1c1f5b-f529-44be-9f29-9b0b358c0001
                        data:
                          plan: pro
                    pagination:
                      limit: 100
                      nextCursor: cur_next_abc
                      hasMore: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/summary:
    parameters:
      - *a3
    get:
      operationId: getEventsSummary
      summary: Get events summary
      description: Returns event summary metrics.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsSummaryResponse"
              examples:
                default:
                  summary: getEventsSummary
                  value:
                    data:
                      events: 450
                      eventTypes: 8
                      sessions: 210
                      visitors: 190
                      avgEventsPerSession: 2.14
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/timeseries:
    parameters:
      - *a3
    get:
      operationId: getEventsTimeseries
      summary: Get events time series
      description: Returns event counts over time.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name filter.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
              examples:
                default:
                  summary: getEventsTimeseries
                  value:
                    data:
                      - start: 2026-06-26T00:00:00Z
                        end: 2026-06-27T00:00:00Z
                        views: 420
                        sessions: 260
                        visitors: 210
                        events: 38
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
                      interval: day
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/search:
    parameters:
      - *a3
    post:
      operationId: searchEvents
      summary: Search events
      description: Searches events using complex payload filters.
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventSearchRequest"
            examples:
              default:
                summary: Search signup events
                value:
                  timeRange: *a1
                  eventName: signup
                  payloadFilters:
                    - path: plan
                      op: eq
                      value: pro
                  filters:
                    - field: page.path
                      op: startsWith
                      value: /signup
                  limit: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
              examples:
                default:
                  summary: searchEvents
                  value:
                    data:
                      - *a6
                    pagination:
                      limit: 100
                      nextCursor: cur_next_abc
                      hasMore: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/{eventId}:
    parameters:
      - *a3
      - $ref: "#/components/parameters/eventId"
    get:
      operationId: getEvent
      summary: Get event
      description: Returns one event record.
      tags:
        - Events
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
              examples:
                default:
                  summary: getEvent
                  value:
                    data: *a6
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-fields/values:
    parameters:
      - *a3
    get:
      operationId: getEventFieldValues
      summary: Get event field values
      description: Returns observed values for an event field.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name.
        - name: fieldPath
          in: query
          schema:
            type: string
            maxLength: 240
          description: Field path.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 160
          description: Search text.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
              examples:
                default:
                  summary: getEventFieldValues
                  value:
                    data:
                      - key: __direct__
                        label: Direct
                        views: 5200
                        sessions: 3200
                      - key: __unknown__
                        label: Unknown
                        views: 120
                        sessions: 88
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
                      timeRange: *a1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors:
    parameters:
      - *a3
    get:
      operationId: listVisitors
      summary: List visitors
      description: Lists visitors with cursor pagination.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
        - name: sort
          in: query
          schema:
            type: string
            maxLength: 120
          description: Sort field. Prefix with '-' for descending order.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 160
          description: Search text.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisitorListResponse"
              examples:
                default:
                  summary: listVisitors
                  value:
                    data:
                      - &a7
                        visitorId: 0a1c1f5b-f529-44be-9f29-9b0b358c0001
                        firstSeenAt: 2026-06-26T11:00:00Z
                        lastSeenAt: 2026-06-26T12:00:00Z
                        views: 4
                        sessions: 1
                        events: 2
                        links:
                          self: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/visitors/0a1c1f5b-f529-44be-9f29-9b0b358c0001
                          sessions: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/visitors/0a1c1f5b-f529-44be-9f29-9b0b358c0001/sessions
                          events: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/visitors/0a1c1f5b-f529-44be-9f29-9b0b358c0001/events
                    pagination:
                      limit: 100
                      nextCursor: cur_next_abc
                      hasMore: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}:
    parameters:
      - *a3
      - &a8
        $ref: "#/components/parameters/visitorId"
    get:
      operationId: getVisitor
      summary: Get visitor
      description: Returns one visitor.
      tags:
        - Visitors
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisitorResponse"
              examples:
                default:
                  summary: getVisitor
                  value:
                    data: *a7
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}/sessions:
    parameters:
      - *a3
      - *a8
    get:
      operationId: listVisitorSessions
      summary: List visitor sessions
      description: Lists sessions for a visitor.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionListResponse"
              examples:
                default:
                  summary: listVisitorSessions
                  value:
                    data:
                      - &a9
                        sessionId: de0b8cf1-7fc6-40bd-8127-4c8e9f1c0001
                        visitorId: 0a1c1f5b-f529-44be-9f29-9b0b358c0001
                        startedAt: 2026-06-26T11:45:00Z
                        endedAt: null
                        views: 3
                        events: 1
                        links:
                          self: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/sessions/de0b8cf1-7fc6-40bd-8127-4c8e9f1c0001
                          events: /api/v1/sites/550e8400-e29b-41d4-a716-446655440000/sessions/de0b8cf1-7fc6-40bd-8127-4c8e9f1c0001/events
                    pagination:
                      limit: 100
                      nextCursor: cur_next_abc
                      hasMore: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}/events:
    parameters:
      - *a3
      - *a8
    get:
      operationId: listVisitorEvents
      summary: List visitor events
      description: Lists events for a visitor.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
              examples:
                default:
                  summary: listVisitorEvents
                  value:
                    data:
                      - *a6
                    pagination:
                      limit: 100
                      nextCursor: cur_next_abc
                      hasMore: true
                    meta:
                      requestId: req_abc123
                      generatedAt: 2026-06-26T12:00:00Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sessions:
    parameters:
      - *a3
    get:
      operationId: listSessions
      summary: List sessions
      description: Lists sessions with cursor pagination.
      tags:
        - Sessions
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
[...]
