openapi: 3.1.0
info:
  title: InsightFlare API
<<<<<<< HEAD
  description: >-
    Privacy-focused web analytics API. Authenticated endpoints require an API
    key passed as a Bearer token in the Authorization header. All timestamps in
    query parameters and response objects are ISO 8601 date-time strings unless
    the field name explicitly ends with `Ms`. Fields ending with `Ms` represent
    millisecond values, such as durations or Unix timestamps depending on
    context. Analytics ranges use [from, to) semantics. If from, to, and preset
    are omitted, analytics endpoints default to the last 7 days ending at
    request time. The default timeZone is UTC.


    This OpenAPI document describes the behavior of the InsightFlare origin API.
    Depending on deployment configuration, upstream infrastructure, proxies,
    gateways, or edge providers may return additional HTTP responses before
    requests reach the API origin, such as 429 Too Many Requests. These
    responses are outside the standard API error envelope and are not part of
    the stable API contract.
  version: 0.1.0
=======
  description: Privacy-focused web analytics API. API v1 endpoints use an API key
    passed as a Bearer token in the Authorization header. All timestamps in
    typed API v1 query bodies and response objects are ISO 8601 date-time
    strings unless the field name explicitly ends with `Ms`. Fields ending with
    `Ms` represent millisecond values, such as durations or Unix timestamps
    depending on context. Analytics ranges use [from, to) semantics.
  version: 0.6.0
>>>>>>> a149c376b590f8a2ebbc24f49f345e594a954201
  contact:
    name: InsightFlare
    url: https://github.com/ravelloh/InsightFlare
  license:
    name: MIT
    url: https://github.com/ravelloh/InsightFlare/blob/main/LICENSE
externalDocs:
  description: InsightFlare API documentation
  url: https://insight.ravelloh.com/docs
servers:
  - url: https://insight.ravelloh.com
    description: Production
security:
  - BearerAuth: []
tags:
  - name: Discovery
    description: API discovery and capabilities
  - name: Token
    description: Token introspection
  - name: Team
    description: Current team resources
  - name: Sites
    description: Site resources
  - name: Settings
    description: Tracking, privacy, and sharing settings
  - name: Analytics
    description: Analytics data primitives
  - name: Events
    description: Event resources
  - name: Visitors
    description: Visitor resources
  - name: Sessions
    description: Session resources
  - name: Funnels
    description: Funnel resources and analysis
  - name: Performance
    description: Core Web Vitals performance data
  - name: Realtime
    description: Realtime activity
  - name: Batch
    description: Global batch requests
  - name: Health
    description: Health checks
  - name: Ingestion
    description: Browser event ingestion
paths:
  /api/v1/sites/{siteId}/analytics/overview:
    post:
      operationId: site.analytics.overview
      summary: API v1 site analytics overview operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
          description: siteId path parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timeRange:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: absolute
                        from:
                          type: string
                          maxLength: 64
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        to:
                          type: string
                          maxLength: 64
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        timeZone:
                          type: string
                          minLength: 1
                          maxLength: 80
                      required:
                        - kind
                        - from
                        - to
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: preset
                        preset:
                          type: string
                          enum:
                            - today
                            - yesterday
                            - last_7_days
                            - last_30_days
                            - this_week
                            - last_week
                            - this_month
                            - last_month
                        timeZone:
                          type: string
                          minLength: 1
                          maxLength: 80
                      required:
                        - kind
                        - preset
                      additionalProperties: false
                filter:
                  anyOf:
                    - oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              const: inline
                            expression:
                              $ref: "#/paths/~1api~1v1~1sites~1{siteId}~1analytics~1overview/post/requestBody\
                                /content/application~1json/schema/$defs/__schem\
                                a0"
                          required:
                            - type
                            - expression
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: saved
                            id:
                              type: string
                              minLength: 1
                              maxLength: 256
                          required:
                            - type
                            - id
                          additionalProperties: false
                    - type: "null"
                metrics:
                  minItems: 1
                  maxItems: 20
                  type: array
                  items:
                    type: string
                    enum:
                      - views
                      - sessions
                      - visitors
                      - bounces
                      - bounceRate
                      - avgDurationMs
                      - viewsPerSession
                      - events
              required:
                - timeRange
              additionalProperties: false
              $defs:
                __schema0:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: condition
                        target:
                          oneOf:
                            - type: object
                              properties:
                                kind:
                                  type: string
                                  const: field
                                field:
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                              required:
                                - kind
                                - field
                              additionalProperties: false
                            - type: object
                              properties:
                                kind:
                                  type: string
                                  const: event-payload
                                path:
                                  type: string
                                  minLength: 1
                                  maxLength: 240
                              required:
                                - kind
                                - path
                              additionalProperties: false
                        operator:
                          type: string
                          minLength: 1
                          maxLength: 32
                        value:
                          anyOf:
                            - anyOf:
                                - type: string
                                  maxLength: 4096
                                - type: number
                                - type: boolean
                                - type: "null"
                            - minItems: 1
                              maxItems: 128
                              type: array
                              items:
                                anyOf:
                                  - type: string
                                    maxLength: 4096
                                  - type: number
                                  - type: boolean
                                  - type: "null"
                      required:
                        - kind
                        - target
                        - operator
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: and
                        children:
                          minItems: 1
                          maxItems: 128
                          type: array
                          items:
                            $ref: "#/paths/~1api~1v1~1sites~1{siteId}~1analytics~1overview/post/requestBody\
                              /content/application~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - children
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: or
                        children:
                          minItems: 1
                          maxItems: 128
                          type: array
                          items:
                            $ref: "#/paths/~1api~1v1~1sites~1{siteId}~1analytics~1overview/post/requestBody\
                              /content/application~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - children
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: not
                        child:
                          $ref: "#/paths/~1api~1v1~1sites~1{siteId}~1analytics~1overview/post/requestBody\
                            /content/application~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - child
                      additionalProperties: false
            example:
              timeRange:
                kind: absolute
                from: 2026-01-01T00:00:00Z
                to: 2026-01-01T00:00:00Z
                timeZone: example
              filter:
                type: inline
                expression:
                  kind: condition
                  target:
                    kind: field
                    field: example
                  operator: example
                  value: example
              metrics:
                - views
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      views:
                        type: number
                      sessions:
                        type: number
                      visitors:
                        type: number
                      bounces:
                        type: number
                      totalDurationMs:
                        type: number
                      avgDurationMs:
                        type: number
                      bounceRate:
                        type: number
                      approximateVisitors:
                        type: boolean
                    required:
                      - views
                      - sessions
                      - visitors
                      - bounces
                      - totalDurationMs
                      - avgDurationMs
                      - bounceRate
                      - approximateVisitors
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                      generatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      timeRange:
                        type: object
                        properties:
                          from:
                            type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                          to:
                            type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                          timeZone:
                            type: string
                            minLength: 1
                        required:
                          - from
                          - to
                          - timeZone
                        additionalProperties: false
                      source:
                        type: string
                        enum:
                          - raw
                          - rollup
                          - realtime
                          - mixed
                          - mock
                      accuracy:
                        type: string
                        enum:
                          - exact
                          - approximate
                    required:
                      - requestId
                      - generatedAt
                      - timeRange
                      - source
                      - accuracy
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  views: 0
                  sessions: 0
                  visitors: 0
                  bounces: 0
                  totalDurationMs: 0
                  avgDurationMs: 0
                  bounceRate: 0
                  approximateVisitors: false
                meta:
                  requestId: example
                  generatedAt: 2026-01-01T00:00:00Z
                  timeRange:
                    from: 2026-01-01T00:00:00Z
                    to: 2026-01-01T00:00:00Z
                    timeZone: example
                  source: raw
                  accuracy: exact
        "400":
          description: "API v1 error: validation_failed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: validation_failed
                  message: Request validation failed.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "403":
          description: "API v1 error: missing_scope."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: missing_scope
                  message: The API key lacks the required scope.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "404":
          description: "API v1 error: resource_not_found."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: resource_not_found
                  message: Resource not found.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "503":
          description: "API v1 error: data_unavailable."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: data_unavailable
                  message: Analytics data is temporarily unavailable.
                  retryable: true
                meta:
                  requestId: req_01J7EXAMPLE
        "504":
          description: "API v1 error: deadline_exceeded."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: deadline_exceeded
                  message: The analytics query exceeded its deadline.
                  retryable: true
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a1
        - analytics:read
      x-required-scopes: *a1
      x-api-v1-batch-eligible: true
      x-api-v1-conditional-scopes:
        - when: filter.type=saved
          scopes:
            - analytics:read
            - analysis:read
  /api/v1/team/analytics/overview:
    post:
      operationId: team.analytics.overview
      summary: API v1 team analytics overview operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Analytics
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timeRange:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: absolute
                        from:
                          type: string
                          maxLength: 64
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        to:
                          type: string
                          maxLength: 64
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        timeZone:
                          type: string
                          minLength: 1
                          maxLength: 80
                      required:
                        - kind
                        - from
                        - to
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: preset
                        preset:
                          type: string
                          enum:
                            - today
                            - yesterday
                            - last_7_days
                            - last_30_days
                            - this_week
                            - last_week
                            - this_month
                            - last_month
                        timeZone:
                          type: string
                          minLength: 1
                          maxLength: 80
                      required:
                        - kind
                        - preset
                      additionalProperties: false
                filter:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          const: inline
                        expression:
                          $ref: "#/paths/~1api~1v1~1team~1analytics~1overview/post/requestBody/content/ap\
                            plication~1json/schema/$defs/__schema0"
                      required:
                        - type
                        - expression
                      additionalProperties: false
                    - type: "null"
                metrics:
                  minItems: 1
                  maxItems: 20
                  type: array
                  items:
                    type: string
                    enum:
                      - views
                      - sessions
                      - visitors
                      - bounces
                      - bounceRate
                      - avgDurationMs
                      - viewsPerSession
                      - events
              required:
                - timeRange
              additionalProperties: false
              $defs:
                __schema0:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: condition
                        target:
                          oneOf:
                            - type: object
                              properties:
                                kind:
                                  type: string
                                  const: field
                                field:
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                              required:
                                - kind
                                - field
                              additionalProperties: false
                            - type: object
                              properties:
                                kind:
                                  type: string
                                  const: event-payload
                                path:
                                  type: string
                                  minLength: 1
                                  maxLength: 240
                              required:
                                - kind
                                - path
                              additionalProperties: false
                        operator:
                          type: string
                          minLength: 1
                          maxLength: 32
                        value:
                          anyOf:
                            - anyOf:
                                - type: string
                                  maxLength: 4096
                                - type: number
                                - type: boolean
                                - type: "null"
                            - minItems: 1
                              maxItems: 128
                              type: array
                              items:
                                anyOf:
                                  - type: string
                                    maxLength: 4096
                                  - type: number
                                  - type: boolean
                                  - type: "null"
                      required:
                        - kind
                        - target
                        - operator
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: and
                        children:
                          minItems: 1
                          maxItems: 128
                          type: array
                          items:
                            $ref: "#/paths/~1api~1v1~1team~1analytics~1overview/post/requestBody/content/ap\
                              plication~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - children
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: or
                        children:
                          minItems: 1
                          maxItems: 128
                          type: array
                          items:
                            $ref: "#/paths/~1api~1v1~1team~1analytics~1overview/post/requestBody/content/ap\
                              plication~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - children
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          const: not
                        child:
                          $ref: "#/paths/~1api~1v1~1team~1analytics~1overview/post/requestBody/content/ap\
                            plication~1json/schema/$defs/__schema0"
                      required:
                        - kind
                        - child
                      additionalProperties: false
            example:
              timeRange:
                kind: absolute
                from: 2026-01-01T00:00:00Z
                to: 2026-01-01T00:00:00Z
                timeZone: example
              filter:
                type: inline
                expression:
                  kind: condition
                  target:
                    kind: field
                    field: example
                  operator: example
                  value: example
              metrics:
                - views
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      views:
                        type: number
                      sessions:
                        type: number
                      visitors:
                        type: number
                      bounces:
                        type: number
                      totalDurationMs:
                        type: number
                      avgDurationMs:
                        type: number
                      bounceRate:
                        type: number
                      approximateVisitors:
                        type: boolean
                    required:
                      - views
                      - sessions
                      - visitors
                      - bounces
                      - totalDurationMs
                      - avgDurationMs
                      - bounceRate
                      - approximateVisitors
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                      generatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      timeRange:
                        type: object
                        properties:
                          from:
                            type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                          to:
                            type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                          timeZone:
                            type: string
                            minLength: 1
                        required:
                          - from
                          - to
                          - timeZone
                        additionalProperties: false
                      source:
                        type: string
                        enum:
                          - raw
                          - rollup
                          - realtime
                          - mixed
                          - mock
                      accuracy:
                        type: string
                        enum:
                          - exact
                          - approximate
                    required:
                      - requestId
                      - generatedAt
                      - timeRange
                      - source
                      - accuracy
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  views: 0
                  sessions: 0
                  visitors: 0
                  bounces: 0
                  totalDurationMs: 0
                  avgDurationMs: 0
                  bounceRate: 0
                  approximateVisitors: false
                meta:
                  requestId: example
                  generatedAt: 2026-01-01T00:00:00Z
                  timeRange:
                    from: 2026-01-01T00:00:00Z
                    to: 2026-01-01T00:00:00Z
                    timeZone: example
                  source: raw
                  accuracy: exact
        "400":
          description: "API v1 error: validation_failed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: validation_failed
                  message: Request validation failed.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "403":
          description: "API v1 error: missing_scope."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: missing_scope
                  message: The API key lacks the required scope.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "404":
          description: "API v1 error: resource_not_found."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: resource_not_found
                  message: Resource not found.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "406":
          description: "API v1 error: not_acceptable."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: not_acceptable
                  message: The requested response media type is not acceptable.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "415":
          description: "API v1 error: unsupported_media_type."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: unsupported_media_type
                  message: The request media type is unsupported.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "503":
          description: "API v1 error: data_unavailable."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: data_unavailable
                  message: Analytics data is temporarily unavailable.
                  retryable: true
                meta:
                  requestId: req_01J7EXAMPLE
        "504":
          description: "API v1 error: deadline_exceeded."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: deadline_exceeded
                  message: The analytics query exceeded its deadline.
                  retryable: true
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a2
        - analytics:read
      x-required-scopes: *a2
      x-api-v1-batch-eligible: true
  /api/v1:
    get:
      operationId: core.root
      summary: API v1 core root operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Discovery
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
<<<<<<< HEAD
                $ref: "#/components/schemas/RootDiscoveryResponse"
              examples:
                default:
                  summary: getApiRoot
                  value:
                    data:
                      version: 0.1.0
                      service: InsightFlare Analytics API
=======
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                      service:
                        type: string
                        const: insightflare
>>>>>>> a149c376b590f8a2ebbc24f49f345e594a954201
                      links:
                        type: object
                        properties:
                          openapi:
                            type: string
                          skills:
                            type: string
                          token:
                            type: string
                          capabilities:
                            type: string
                          team:
                            type: string
                          sites:
                            type: string
                          batch:
                            type: string
                        required:
                          - openapi
                          - skills
                          - token
                          - capabilities
                          - team
                          - sites
                          - batch
                        additionalProperties: false
                    required:
                      - version
                      - service
                      - links
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  version: example
                  service: insightflare
                  links:
                    openapi: example
                    skills: example
                    token: example
                    capabilities: example
                    team: example
                    sites: example
                    batch: example
                meta:
                  requestId: example
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a3 []
      x-required-scopes: *a3
      x-api-v1-batch-eligible: false
  /api/v1/token:
    get:
      operationId: core.token.get
      summary: API v1 core token get operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Token
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      status:
                        type: string
                      createdAt:
                        anyOf:
                          - type: string
                          - type: "null"
                      expiresAt:
                        anyOf:
                          - type: string
                          - type: "null"
                      lastUsedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                      team:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      scopes:
                        type: array
                        items:
                          type: string
                      siteAccess:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                              - all
                              - restricted
                          siteIds:
                            type: array
                            items:
                              type: string
                        required:
                          - mode
                          - siteIds
                        additionalProperties: false
                    required:
                      - id
                      - name
                      - status
                      - createdAt
                      - expiresAt
                      - lastUsedAt
                      - team
                      - scopes
                      - siteAccess
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  id: example
                  name: example
                  status: example
                  createdAt: example
                  expiresAt: example
                  lastUsedAt: example
                  team:
                    id: example
                    name: example
                  scopes:
                    - example
                  siteAccess:
                    mode: all
                    siteIds:
                      - example
                meta:
                  requestId: example
        "403":
          description: "API v1 error: missing_scope."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: missing_scope
                  message: The API key lacks the required scope.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a4 []
      x-required-scopes: *a4
      x-api-v1-batch-eligible: false
  /api/v1/token/check:
    post:
      operationId: core.token.check
      summary: API v1 core token check operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Token
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                checks:
                  minItems: 1
                  maxItems: 100
                  type: array
                  items:
                    type: object
                    properties:
                      scope:
                        type: string
                        minLength: 1
                      siteId:
                        type: string
                        minLength: 1
                    required:
                      - scope
                    additionalProperties: false
              required:
                - checks
              additionalProperties: false
            example:
              checks:
                - scope: example
                  siteId: example
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      checks:
                        type: array
                        items:
                          type: object
                          properties:
                            scope:
                              type: string
                            siteId:
                              type: string
                            allowed:
                              type: boolean
                            reason:
                              type: string
                              enum:
                                - missing_scope
                                - site_not_allowed
                                - token_inactive
                          required:
                            - scope
                            - allowed
                          additionalProperties: false
                    required:
                      - checks
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  checks:
                    - scope: example
                      siteId: example
                      allowed: false
                      reason: missing_scope
                meta:
                  requestId: example
        "400":
          description: "API v1 error: validation_failed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: validation_failed
                  message: Request validation failed.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a5 []
      x-required-scopes: *a5
      x-api-v1-batch-eligible: false
  /api/v1/capabilities:
    get:
      operationId: core.capabilities
      summary: API v1 core capabilities operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Discovery
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
<<<<<<< HEAD
                $ref: "#/components/schemas/CapabilitiesResponse"
              examples:
                default:
                  summary: getCapabilities
                  value:
                    data:
                      apiVersion: 0.1.0
=======
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      apiVersion:
                        type: string
>>>>>>> a149c376b590f8a2ebbc24f49f345e594a954201
                      features:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: boolean
                      limits:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: number
                      links:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                    required:
                      - apiVersion
                      - features
                      - limits
                      - links
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  apiVersion: example
                  features: {}
                  limits: {}
                  links: {}
                meta:
                  requestId: example
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: method_not_allowed
                  message: The HTTP method is not allowed for this route.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
        "500":
          description: "API v1 error: internal_error."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 1
                      message:
                        type: string
                      retryable:
                        type: boolean
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            code:
                              type: string
                          required:
                            - path
                            - code
                          additionalProperties: false
                    required:
                      - code
                      - message
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - error
                  - meta
                additionalProperties: false
              example:
                error:
                  code: internal_error
                  message: An internal error occurred.
                  retryable: false
                meta:
                  requestId: req_01J7EXAMPLE
      x-api-v1-lifecycle: exposed
      x-api-v1-scopes: &a6 []
      x-required-scopes: *a6
      x-api-v1-batch-eligible: false
  /api/v1/team:
    get:
      operationId: core.team.get
      summary: API v1 core team get operation
      description: Typed API v1 operation. Authenticate with an API key through the
        BearerAuth security scheme.
      tags:
        - Team
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful response.
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      createdAt:
                        anyOf:
                          - type: string
                          - type: "null"
                      links:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                    required:
                      - id
                      - name
                      - createdAt
                      - links
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                    required:
                      - requestId
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
              example:
                data:
                  id: example
                  name: example
                  createdAt: example
                  links: {}
                meta:
                  requestId: example
        "405":
          description: "API v1 error: method_not_allowed."
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
                minLength: 1
          content:
            application/json:
              schema:
[...]
