openapi: 3.1.0
info:
  title: InsightFlare API
  description:
    Privacy-focused web analytics API. Authenticated endpoints require
    an API key passed as a Bearer token in the Authorization header. All API
    times are ISO 8601 strings and analytics ranges use [from, to) semantics. If
    from, to, and preset are omitted, analytics endpoints default to the last 7
    days ending at request time. The default timeZone is UTC.
  version: 1.0.0
  contact:
    name: InsightFlare
    url: https://github.com/ravelloh/InsightFlare
  license:
    name: MIT
    url: https://github.com/ravelloh/InsightFlare/blob/main/LICENSE
servers:
  - url: https://insight.ravelloh.com
    description: Production
security:
  - BearerAuth: []
tags:
  - name: Discovery
    description: API discovery and capabilities
  - name: Token
    description: Token introspection
  - name: Team
    description: Current team resources
  - name: Sites
    description: Site resources
  - name: Settings
    description: Tracking, privacy, and sharing settings
  - name: Analytics
    description: Analytics data primitives
  - name: Events
    description: Event resources
  - name: Visitors
    description: Visitor resources
  - name: Sessions
    description: Session resources
  - name: Funnels
    description: Funnel resources and analysis
  - name: Performance
    description: Core Web Vitals performance data
  - name: Realtime
    description: Realtime activity
  - name: Batch
    description: Global batch requests
  - name: Ingestion
    description: Client SDK event collection
  - name: Health
    description: Health checks
paths:
  /healthz:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns service health status. No authentication required.
      tags:
        - Health
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObjectResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
  /collect:
    post:
      operationId: collectEvent
      summary: Collect tracking event
      description:
        /collect is the unauthenticated client SDK ingestion endpoint.
        Successful receipt or silent drop returns 204.
      tags:
        - Ingestion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectPayload"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequest"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
  /api/v1:
    get:
      operationId: getApiRoot
      summary: API root discovery
      description:
        Returns stable machine-readable discovery links. No authentication
        required.
      tags:
        - Discovery
      security: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootDiscoveryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/token:
    get:
      operationId: getToken
      summary: Inspect current token
      description:
        Returns non-secret metadata, scopes, team, and site access for the
        current bearer token.
      tags:
        - Token
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/token/check:
    post:
      operationId: checkToken
      summary: Check token permissions
      description:
        Checks whether the current token has requested scope and optional
        site permissions.
      tags:
        - Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCheckRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCheckResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      summary: Get runtime capabilities
      description: Returns features and limits available to the current token.
      tags:
        - Discovery
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team:
    get:
      operationId: getTeam
      summary: Get current team
      description: Returns the team associated with the current token.
      tags:
        - Team
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team/usage:
    get:
      operationId: getTeamUsage
      summary: Get team usage
      description: Returns usage information for the current team.
      tags:
        - Team
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamUsageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/team/analytics/overview:
    get:
      operationId: getTeamAnalyticsOverview
      summary: Get team analytics overview
      description: Aggregates analytics over sites accessible to the current token.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsOverviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/timeseries:
    get:
      operationId: getTeamAnalyticsTimeseries
      summary: Get team analytics time series
      description: Returns time-bucketed analytics over accessible sites.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/sites:
    get:
      operationId: getTeamAnalyticsSites
      summary: Get team analytics by site
      description: Breaks down team analytics by accessible site.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/team/analytics/breakdowns/{dimension}:
    parameters:
      - &a2
        $ref: "#/components/parameters/dimension"
    get:
      operationId: getTeamAnalyticsBreakdown
      summary: Get team analytics breakdown
      description: Breaks down team analytics by a stable dimension.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/sites:
    get:
      operationId: listSites
      summary: List sites
      description: Returns sites accessible to the current token.
      tags:
        - Sites
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createSite
      summary: Create site
      description: Creates a site in the token's team. Supports Idempotency-Key.
      tags:
        - Sites
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 200
          description: Client-generated idempotency key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteCreateInput"
      responses:
        "201":
          description: Created site
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/sites/{siteId}:
    parameters:
      - &a1
        $ref: "#/components/parameters/siteId"
    get:
      operationId: getSite
      summary: Get site
      description: Returns a site by ID.
      tags:
        - Sites
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateSite
      summary: Update site
      description: Updates site metadata.
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteUpdateInput"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteSite
      summary: Delete site
      description: Deletes a site and associated analytics data.
      tags:
        - Sites
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/tracking:
    parameters:
      - *a1
    get:
      operationId: getTrackingSettings
      summary: Get tracking settings
      description: Returns tracking settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTrackingSettings
      summary: Update tracking settings
      description: Updates tracking settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackingSettings"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettingsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/tracking/script:
    parameters:
      - *a1
    get:
      operationId: getTrackingScript
      summary: Get tracking script
      description: Returns the script URL and HTML snippet.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingScriptResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/privacy:
    parameters:
      - *a1
    get:
      operationId: getPrivacySettings
      summary: Get privacy settings
      description: Returns privacy settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacySettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updatePrivacySettings
      summary: Update privacy settings
      description: Updates privacy settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivacySettings"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacySettingsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sharing:
    parameters:
      - *a1
    get:
      operationId: getSharingSettings
      summary: Get sharing settings
      description: Returns sharing settings.
      tags:
        - Settings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateSharingSettings
      summary: Update sharing settings
      description: Updates sharing settings.
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SharingSettings"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettingsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/sites/{siteId}/analytics/schema:
    parameters:
      - *a1
    get:
      operationId: getAnalyticsSchema
      summary: Get analytics schema
      description: Returns metrics, dimensions, filters, operators, intervals, and presets.
      tags:
        - Analytics
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSchemaResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/overview:
    parameters:
      - *a1
    get:
      operationId: getAnalyticsOverview
      summary: Get analytics overview
      description: Returns aggregate analytics metrics.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsOverviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/timeseries:
    parameters:
      - *a1
    get:
      operationId: getAnalyticsTimeseries
      summary: Get analytics time series
      description: Returns time-bucketed analytics metrics.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/breakdowns/{dimension}:
    parameters:
      - *a1
      - *a2
    get:
      operationId: getAnalyticsBreakdown
      summary: Get analytics breakdown
      description: Returns a metric breakdown by dimension.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metrics
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - views
                - sessions
                - visitors
                - bounces
                - bounceRate
                - avgDurationMs
                - viewsPerSession
                - events
          description: Comma-separated metrics to include.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/cross-breakdowns:
    parameters:
      - *a1
    get:
      operationId: getAnalyticsCrossBreakdown
      summary: Get analytics cross breakdown
      description: Returns a two-dimensional analytics breakdown.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: primary
          in: query
          schema:
            type: string
            maxLength: 120
          description: Primary dimension.
        - name: secondary
          in: query
          schema:
            type: string
            maxLength: 120
          description: Secondary dimension.
        - name: metric
          in: query
          schema:
            type: string
            maxLength: 80
          description: Metric to aggregate.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObjectResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/compare:
    parameters:
      - *a1
    get:
      operationId: compareAnalytics
      summary: Compare analytics
      description: Compares analytics against another period.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: compare
          in: query
          schema:
            type: string
            maxLength: 80
            default: previous_period
          description: Comparison mode.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsCompareResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/explore:
    parameters:
      - *a1
    post:
      operationId: exploreAnalytics
      summary: Explore analytics
      description: Runs an advanced multidimensional query with complex filters.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsExploreRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsExploreResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/analytics/retention/cohorts:
    parameters:
      - *a1
    get:
      operationId: getRetentionCohorts
      summary: Get retention cohorts
      description: Returns visitor retention cohorts.
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionCohortsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-types:
    parameters:
      - *a1
    get:
      operationId: listEventTypes
      summary: List event types
      description: Lists custom event types.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum rows.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-types/{eventName}:
    parameters:
      - *a1
      - $ref: "#/components/parameters/eventName"
    get:
      operationId: getEventType
      summary: Get event type
      description: Returns details for one event type.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsSummaryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events:
    parameters:
      - *a1
    get:
      operationId: listEvents
      summary: List events
      description: Lists event records with cursor pagination.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
        - name: sort
          in: query
          schema:
            type: string
            maxLength: 120
          description: Sort field. Prefix with '-' for descending order.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name filter.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/summary:
    parameters:
      - *a1
    get:
      operationId: getEventsSummary
      summary: Get events summary
      description: Returns event summary metrics.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObjectResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/timeseries:
    parameters:
      - *a1
    get:
      operationId: getEventsTimeseries
      summary: Get events time series
      description: Returns event counts over time.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name filter.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsTimeseriesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/search:
    parameters:
      - *a1
    post:
      operationId: searchEvents
      summary: Search events
      description: Searches events using complex payload filters.
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventSearchRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/events/{eventId}:
    parameters:
      - *a1
      - $ref: "#/components/parameters/eventId"
    get:
      operationId: getEvent
      summary: Get event
      description: Returns one event record.
      tags:
        - Events
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/event-fields/values:
    parameters:
      - *a1
    get:
      operationId: getEventFieldValues
      summary: Get event field values
      description: Returns observed values for an event field.
      tags:
        - Events
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: eventName
          in: query
          schema:
            type: string
            maxLength: 120
          description: Event name.
        - name: fieldPath
          in: query
          schema:
            type: string
            maxLength: 240
          description: Field path.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 160
          description: Search text.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors:
    parameters:
      - *a1
    get:
      operationId: listVisitors
      summary: List visitors
      description: Lists visitors with cursor pagination.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
        - name: sort
          in: query
          schema:
            type: string
            maxLength: 120
          description: Sort field. Prefix with '-' for descending order.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 160
          description: Search text.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisitorListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}:
    parameters:
      - *a1
      - &a3
        $ref: "#/components/parameters/visitorId"
    get:
      operationId: getVisitor
      summary: Get visitor
      description: Returns one visitor.
      tags:
        - Visitors
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisitorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}/sessions:
    parameters:
      - *a1
      - *a3
    get:
      operationId: listVisitorSessions
      summary: List visitor sessions
      description: Lists sessions for a visitor.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/visitors/{visitorId}/events:
    parameters:
      - *a1
      - *a3
    get:
      operationId: listVisitorEvents
      summary: List visitor events
      description: Lists events for a visitor.
      tags:
        - Visitors
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sessions:
    parameters:
      - *a1
    get:
      operationId: listSessions
      summary: List sessions
      description: Lists sessions with cursor pagination.
      tags:
        - Sessions
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
        - name: sort
          in: query
          schema:
            type: string
            maxLength: 120
          description: Sort field. Prefix with '-' for descending order.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 160
          description: Search text.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sessions/{sessionId}:
    parameters:
      - *a1
      - &a4
        $ref: "#/components/parameters/sessionId"
    get:
      operationId: getSession
      summary: Get session
      description: Returns one session.
      tags:
        - Sessions
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/sessions/{sessionId}/events:
    parameters:
      - *a1
      - *a4
    get:
      operationId: listSessionEvents
      summary: List session events
      description: Lists events for a session.
      tags:
        - Sessions
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of results.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 512
          description: Opaque pagination cursor from the previous response.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/funnels:
    parameters:
      - *a1
    get:
      operationId: listFunnels
      summary: List funnels
      description: Lists saved funnels.
      tags:
        - Funnels
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createFunnel
      summary: Create funnel
      description: Creates a saved funnel.
      tags:
        - Funnels
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 200
          description: Client-generated idempotency key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelCreateInput"
      responses:
        "201":
          description: Created funnel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/funnels/analysis:
    parameters:
      - *a1
    post:
      operationId: analyzeFunnel
      summary: Analyze funnel
      description: Runs ad-hoc funnel analysis.
      tags:
        - Funnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelAnalysisRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelAnalysisResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/funnels/{funnelId}:
    parameters:
      - *a1
      - $ref: "#/components/parameters/funnelId"
    get:
      operationId: getFunnel
      summary: Get funnel
      description: Returns one saved funnel.
      tags:
        - Funnels
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateFunnel
      summary: Update funnel
      description: Updates one saved funnel.
      tags:
        - Funnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelUpdateInput"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteFunnel
      summary: Delete funnel
      description: Deletes one saved funnel.
      tags:
        - Funnels
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/funnels/{funnelId}/analysis:
    parameters:
      - *a1
      - $ref: "#/components/parameters/funnelId"
    get:
      operationId: getFunnelAnalysis
      summary: Get funnel analysis
      description: Runs analysis for a saved funnel.
      tags:
        - Funnels
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFunnelAnalysisResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/performance/summary:
    parameters:
      - *a1
    get:
      operationId: getPerformanceSummary
      summary: Get performance summary
      description: Returns Core Web Vitals summary in milliseconds except CLS.
      tags:
        - Performance
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceSummaryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/performance/timeseries:
    parameters:
      - *a1
    get:
      operationId: getPerformanceTimeseries
      summary: Get performance time series
      description: Returns Core Web Vitals over time.
      tags:
        - Performance
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: interval
          in: query
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
            default: day
          description: Time bucket granularity.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceTimeseriesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/performance/breakdowns/{dimension}:
    parameters:
      - *a1
      - *a2
    get:
      operationId: getPerformanceBreakdown
      summary: Get performance breakdown
      description: Breaks down Core Web Vitals by dimension.
      tags:
        - Performance
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description:
            Inclusive ISO 8601 start time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description:
            Exclusive ISO 8601 end time. If from, to, and preset are omitted,
            analytics endpoints default to the last 7 days ending at request
            time.
        - name: preset
          in: query
          schema:
            $ref: "#/components/schemas/Preset"
          description:
            Named time range preset. Mutually exclusive with from and to. If
            from, to, and preset are omitted, analytics endpoints default to the
            last 7 days ending at request time.
        - name: timeZone
          in: query
          schema:
            type: string
            maxLength: 80
            default: UTC
          description: IANA time zone used to resolve presets. Defaults to UTC.
        - name: filter
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FilterObject"
          description: Simple equality filters as filter[field]=value.
        - name: metric
          in: query
          schema:
            type: string
            enum:
              - ttfb
              - fcp
              - lcp
              - cls
              - inp
          description: Performance metric.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceBreakdownResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/realtime/active-visitors:
    parameters:
      - *a1
    get:
      operationId: getRealtimeActiveVisitors
      summary: Get active visitors
      description: Returns the current active visitor count.
      tags:
        - Realtime
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveVisitorsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/realtime/events:
    parameters:
      - *a1
    get:
      operationId: getRealtimeEvents
      summary: Get realtime events
      description: Returns recent realtime events.
      tags:
        - Realtime
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum events.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeEventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/realtime/sessions:
    parameters:
      - *a1
    get:
      operationId: getRealtimeSessions
      summary: Get realtime sessions
      description: Returns recent realtime sessions.
      tags:
        - Realtime
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Maximum sessions.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeSessionListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/realtime/snapshot:
    parameters:
      - *a1
    get:
      operationId: getRealtimeSnapshot
      summary: Get realtime snapshot
      description: Returns active visitors, recent events, and recent sessions.
      tags:
        - Realtime
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeSnapshotResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/batch:
    post:
      operationId: batch
      summary: Execute global batch
      description: Executes up to 20 GET subrequests under /api/v1.
      tags:
        - Batch
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 200
          description: Client-generated idempotency key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
components:
  schemas:
    Meta:
      type: object
      description: Response metadata.
      required:
        - generatedAt
      properties:
        requestId:
          type: string
          description: Request correlation identifier.
        generatedAt:
          type: string
          format: date-time
          description: Response generation time in UTC.
        timeRange:
          $ref: "#/components/schemas/TimeRange"
        interval:
          type: string
          enum:
            - minute
            - hour
            - day
            - week
            - month
        partialFailure:
          type: boolean
      additionalProperties: true
    LinkMap:
      type: object
      description: Machine-readable links for resource discovery.
      additionalProperties:
        type: string
    SuccessEnvelope:
      type: object
      description: Standard successful response envelope.
      required:
        - data
        - meta
      properties:
        data: {}
        links:
          $ref: "#/components/schemas/LinkMap"
        meta:
          $ref: "#/components/schemas/Meta"
      additionalProperties: false
    ListEnvelope:
      type: object
      description: Standard list response envelope.
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items: {}
        links:
          $ref: "#/components/schemas/LinkMap"
        meta:
          $ref: "#/components/schemas/Meta"
      additionalProperties: false
    Pagination:
      type: object
      description: Cursor pagination state.
      required:
        - limit
        - nextCursor
        - hasMore
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 1000
        nextCursor:
          type:
            - string
            - "null"
          maxLength: 512
        hasMore:
          type: boolean
    PaginatedEnvelope:
      type: object
      description: Standard cursor-paginated list response envelope.
      required:
        - data
        - pagination
        - meta
      properties:
        data:
          type: array
          items: {}
        pagination:
          $ref: "#/components/schemas/Pagination"
        links:
          $ref: "#/components/schemas/LinkMap"
        meta:
          $ref: "#/components/schemas/Meta"
      additionalProperties: false
    ErrorResponse:
      type: object
      description: Standard error response envelope.
      required:
        - error
        - meta
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - invalid_json
                - validation_failed
                - invalid_api_key
                - api_key_expired
                - api_key_revoked
                - insufficient_scope
                - site_not_found
                - resource_not_found
                - conflict
                - payload_too_large
                - internal_error
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            help:
              type: object
              properties:
                token:
                  type: string
                documentation:
                  type: string
        meta:
          $ref: "#/components/schemas/Meta"
    Preset:
      type: string
      description: Named time range preset.
      enum:
        - today
        - yesterday
        - last_7_days
        - last_30_days
        - this_week
        - last_week
        - this_month
        - last_month
    TimeRange:
      type: object
      description: Resolved inclusive/exclusive time range.
      required:
        - from
        - to
        - timeZone
      properties:
        from:
          type: string
          format: date-time
          description: Inclusive start time.
        to:
          type: string
          format: date-time
          description: Exclusive end time.
        timeZone:
          type: string
          maxLength: 80
    TimeRangeInput:
      type: object
      description:
        Optional time range input. If from, to, and preset are omitted,
        analytics endpoints default to the last 7 days ending at request time.
        The default timeZone is UTC.
      properties:
        from:
          type: string
          format: date-time
          description: Inclusive ISO 8601 start time.
        to:
          type: string
          format: date-time
          description: Exclusive ISO 8601 end time.
        preset:
          $ref: "#/components/schemas/Preset"
        timeZone:
          type: string
          maxLength: 80
          default: UTC
          description: IANA time zone used to resolve presets.
    FilterObject:
      type: object
      description: Simple equality filters keyed by stable dimension name.
      additionalProperties:
        type: string
        maxLength: 500
    ComplexFilter:
      type: object
      description: Advanced filter rule for explore and search endpoints.
      required:
        - field
        - op
      properties:
        field:
          type: string
          maxLength: 120
          description: Stable filter field path.
        op:
          type: string
          enum:
            - eq
            - neq
            - in
            - notIn
            - contains
            - startsWith
            - endsWith
            - gt
            - gte
            - lt
            - lte
            - exists
            - notExists
        value: {}
    MetricDefinition:
      type: object
      description: Metric available for analytics queries.
      required:
        - key
        - label
        - type
        - description
      properties:
        key:
          type: string
        label:
          type: string
        type:
          type: string
          enum:
            - integer
            - rate
            - duration_ms
        description:
          type: string
    DimensionDefinition:
      type: object
      description: Dimension available for analytics breakdowns and filters.
      required:
        - key
        - label
        - type
      properties:
        key:
          type: string
        label:
          type: string
        type:
          type: string
        description:
          type: string
    SiteAccess:
      type: object
      description: Sites this token may access.
      required:
        - mode
        - siteIds
      properties:
        mode:
          type: string
          enum:
            - all
            - restricted
        siteIds:
          type: array
          items: &a5
            type: string
            format: uuid
    Token:
      type: object
      required:
        - id
        - name
        - status
        - team
        - scopes
        - siteAccess
      properties:
        id: *a5
        name:
          type: string
          maxLength: 120
        status:
          type: string
          enum:
            - active
            - expired
            - revoked
        createdAt: &a6
          type: string
          format: date-time
        expiresAt:
          type:
            - string
            - "null"
          format: date-time
        lastUsedAt:
          type:
            - string
            - "null"
          format: date-time
        team:
          type: object
          required:
            - id
            - name
          properties:
            id: *a5
            name:
              type: string
              maxLength: 120
        scopes:
          type: array
          items:
            type: string
            enum:
              - site:read
              - site:write
              - site_config:read
              - site_config:write
              - analytics:read
        siteAccess:
          $ref: "#/components/schemas/SiteAccess"
    TokenResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          description: Successful response
          properties:
            data:
              $ref: "#/components/schemas/Token"
    TokenCheckRequest:
      type: object
      required:
        - checks
      properties:
        checks:
          type: array
          maxItems: 50
          items:
            type: object
            required:
[...]
